.winOrLose-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  padding: 30px;
  border: 2px solid #ffffff30;
  border-radius: 10px;
}

.win-or-lose-image {
  order: 1;
  width: 65%;
  margin-left: 25px;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}
.result-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 45px;
}
.score-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
}

.scores {
  color: #6a59ff;
  font-family: 'Roboto';
  font-size: 35px;
  margin-top: 0px;
  font-weight: 500;
}

.play-again-button {
  background-color: #ffce27;
  color: black;
  font-weight: 500;
  font-family: 'Roboto';
  border: none;
  border-radius: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
