.nav-bar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff33;
  width: 100%;
  align-self: flex-start;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.game-logo {
  width: 50px;
  height: 50px;
}
.nav-bar-heading {
  font-family: 'Roboto';
  color: #ffffff;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23%;
}

.score-note {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
}
